<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= config.title %></title>

  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>

        <%- css(['css/style', 'css/main','css/font','//at.alicdn.com/t/c/font_4995228_opbzbvnnk7d.css']) %>
  <style>
    body {
      background-color: antiquewhite;
    }
    .content{
      background-color: aqua;
    }
  </style>
</head>